<!-- Footer -->
<footer class="text-center text-lg-start bg-light ">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class=" text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4   ">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold mb-4 d-flex justify-content-lg-center">
             اشترك الأن
            </h3>
            <button type="button" class="btn btn-primary btn-lg btn-block w-100 " style="background-color: #ED553B;">اشترك</button>

            
            
          </div>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4 d-flex justify-content-lg-center">
              تواصل معنا
            </h3>
            
           


            <p class="text-center fs-6 fst-normal w-100 p-1">
                اتصل: 0106666666
            </p>
            <p class="text-center fs-7 fst-normal w-100 p-1">
              
             مواعيد العمل: من 9 صباحا حتي 7 مساء.
            </p>

            <p class="text-center fs-7 fst-normal w-100 p-1">
                العنوان: التحرير- شارع عدلي منصور- مكتبة وسط البلد
               </p>

            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4 d-flex justify-content-lg-center">
                متون
              </h3>

              <p class="text-end fs-6 fst-normal">"موتون هي مكتبة إلكترونية شاملة تقدم مجموعة متنوعة من الكتب الإلكترونية
                 في جميع المجالات، مع تجربة مريحة وسهلة للاستكشاف والشراء عبر الإنترنت."</p>
  
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #313131;">
        <p  style="color: #FFFFFF;">
            Copyright @ 2023 Restaurant | All Rights Reserver | Theme Designed by Mohamed Osama
        </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
