<div class="cart" [ngClass]="{ 'closed': cartClosed }">
    <div class="shopping">
     
        <!-- ... (rest of your cart content) -->
        <i class="fa-solid fa-xmark" (click)="toggleCart()"></i>
        <!-- ... (rest of your cart content) -->
     
      <!-- <i class="fa-solid fa-xmark" (click)="closecart()"></i> -->
      <h3>عربة التسوق</h3>
    </div>
    
    <div class="book-ngfor"  >
    <div class="container-show color " *ngFor="let nbooks of Cartdata">
    
          <div class="book-name">
              
              
    
    
             
            <div class="delete-icon">
            <i  class="fa-regular fa-trash-can"  ></i>
            </div>
              
              <div class="book-details">
                  <div class="book-content">
                    
                    <!-- <h4>{{nbooks.boo}} </h4> -->
                      
                      <h4>{{nbooks.price}} : ج.م</h4>
                
                      <h4>{{nbooks.quantity}}</h4>
                  </div>

              <div class="books2-details" *ngFor="let getImage of images">
                <img  [src]="images" alt=" category ">

              </div>
    
                        
              
              </div>
    
              
      </div>
    
    
    
    </div>
    
    
    
    
    
    </div>
    <div class="break"></div>
    <div class="cart-total">
 
      <div class="total">
        <h5>{{this.totalPrice}} : المجموع</h5>
      </div>
      
    </div>

    <div class="break"></div>
    <div class="style-btn">
      <button class=" button1"  routerLink="/cart"> انشاء طلب</button>
      <button class="  button2"  routerLink="/cart"> متابعة التسوق</button>
    </div>
    <div class="recycle">
      <button class="recycle-btn btn btn-danger"  >
        <i class="fa-regular fa-trash-can"></i>
        <h5>افراغ السلة</h5>
      </button>
      
    
    </div>
    
        
    </div>