

<div class="about">
<h1>من نحن؟</h1>
</div>
<div class="description">
    <div class="about-content">
        <div class="logo">
            <img src="../../assets/image/WhatsApp Image 2023-09-05 at 09.17.33.jpg">

</div>
<div class="paragraph">
    <p>متون هي مكتبة إلكترونية شاملة وموثوقة توفر أكثر من 10,000 كتابا إلكترونيا للاستكشاف والاستمتاع.اكتشف تشكيلتنا المتنوعة من الروايات والكتب الأكاديمية والتنمية الشخصية والادب الكلاسيكي وغيرها الكثير.استمتع بتجربة قراءة سهلة ومريحة على جميع الاجهزة واستفد من العروض والتخفيضات الحصرية.أشتر الأن واحصل على وصول فوري لعالم ملئ بالمعرفة والتسلية.</p>

</div>
    </div>
  
</div>

