<div class="container-show">
    <div  *ngFor="let books of showBook">
        <div class="book-name">
            <h1>
                {{books.bookName}}
            </h1>
            


           

            
            <div class="book-details">
           
                <div class="book-pic">

                <img  [src]="books.image" alt=" category ">
                </div>
            
                <div class="book-content">
                    <h2>{{ books.authorName }}  </h2>
                    <div class="break"></div>
                    <h4>{{ books.price }} : تاريخ النشر</h4>
                    <div class="break"></div>
                    <h4>{{ books.publicationDate }} : تاريخ النشر</h4>
                    <h4>{{ books.publisherName }}  : الناشر</h4>
                    <h4>{{ books.type }}  : النوع</h4>
                    <h4>{{ books.language }}  : اللغة</h4>
                    <h4>{{ books.editionOfBook }}  : الطبعة</h4>
                    <h4>{{ books.bookSize}}  : الحجم</h4>
                    <h4>{{ books.numberOfCovers}}  : المجلدات</h4>
                    
                    <div class="stars">
                        <i class="fa-regular fa-star" [class.starred]="books.isStarred"
                        [class.unstarred]="!books.isStarred"
                        (click)="toggleStar(books)"></i>
                        <i class="fa-regular fa-star" [class.starred]="books.isStarred"
                        [class.unstarred]="!books.isStarred"
                        (click)="toggleStar(books)"></i>
                        <i class="fa-regular fa-star" [class.starred]="books.isStarred"
                        [class.unstarred]="!books.isStarred"
                        (click)="toggleStar(books)"></i>
                        <i class="fa-regular fa-star" [class.starred]="books.isStarred"
                        [class.unstarred]="!books.isStarred"
                        (click)="toggleStar(books)"></i>
                        <i class="fa-regular fa-star"[class.starred]="books.isStarred"
                        [class.unstarred]="!books.isStarred"
                        (click)="toggleStar(books)"></i>
                    </div>
                   
                    <div class="button input-container">
                        <button  routerLink="/cart">اضف الى السلة</button> 
                        <input type="number" id="numberInput" class="styled-input" placeholder="العدد">
                    </div>
                    
                    
                </div>
            
            
            </div>

            <div class="description">
            <h3>: الوصف-</h3>
           
            <h5>{{ books.description }} </h5>
            </div>
            
    </div>



</div>





</div>


<div class="container-show">
    <h3>القراء الذين اشتروا هذا الكتاب اشتروا هذا ايضا -</h3>
    <div class="news-books1">
        <div class="books1-details" *ngFor="let books of showBook">
            <div class="books2-details">
             <div class="price">
               <h6>ج.م 50</h6>
             </div>
             <img class="w-100" [src]="books.image" alt=" category "> 
             <div class="stars">
             <i class="fa-regular fa-star" [class.starred]="books.isStarred"
             [class.unstarred]="!books.isStarred"
             (click)="toggleStar(books)"></i>
             <i class="fa-regular fa-star" [class.starred]="books.isStarred"
             [class.unstarred]="!books.isStarred"
             (click)="toggleStar(books)"></i>
             <i class="fa-regular fa-star" [class.starred]="books.isStarred"
             [class.unstarred]="!books.isStarred"
             (click)="toggleStar(books)"></i>
             <i class="fa-regular fa-star" [class.starred]="books.isStarred"
             [class.unstarred]="!books.isStarred"
             (click)="toggleStar(books)"></i>
             <i class="fa-regular fa-star" [class.starred]="books.isStarred"
             [class.unstarred]="!books.isStarred"
             (click)="toggleStar(books)"></i>
             </div>
             
 
             <div class="heart">
               <i class="fa-regular fa-heart" [class.hearted]="books.isHearted"
               [class.unhearted]="!books.isHearted"
               (click)="toggleHeart(books)"></i>
             </div> 
             
             <div class="content">
               <h5>{{books.name}}</h5>
               <h5>{{books.type}}</h5>
               <h5>{{books.language}}</h5>
             </div> 
            
            <button class=" button1"><a  routerLink="/cart">اضف الى السلة</a></button>
            </div>    
            </div>
      </div>
</div>


