<div class="events">
    <h1>الفعاليات</h1>
    </div>


<div class="parent">
    <div   *ngFor="let nEvent of newEvents">
        <div class="container">
           
            <div class="pic">
             <img src="../../assets/image/stacked-books-1.jpg">
            </div>
            <div class="e-book" >
             
            <h1>{{nEvent.name}}</h1>  
            <h3>{{nEvent.name}}</h3>  
            <h3>{{nEvent.name}}</h3>  
            <button class="btn  btn-lg d-btn " routerLink="/payment">اقرأ المزيد</button>
            </div>
            </div>
        </div>
        
</div>
