

<div class="contact">
     <h1>تواصل معنا</h1>
     <div class="text">
          <p>"نحرص دائما على تجربتك ورأيك الثمين.اتصل بنا لتقديم ملاحظاتك,الشكاوي أو أي  <br>استفسارات تتعلق بتجربتك معنا.نحن هنا لتقديم تجربة أفضل وأكثر استقرارا"</p>

     </div>
     
</div>

     <div class="contact-data">
          <input class="form-control" type="text" placeholder="الأسم">
          <br>
          <input class="form-control" type="text" placeholder="رقم الهاتف">
          <br>
          <input class="form-control" type="email" placeholder="البريد الإلكتروني">
          <br>
          <textarea class=" form-control" rows="10"> الرسالة</textarea>
          <br>
          <div class="but">
               <button  type="submit"  class="btn  btn-lg d-btn  btn-secondary  "   > ارسل</button>
              </div>
          </div>
          


