<div class="books">
<h1>الكتب</h1>
<div class="text">
  <p>"متون هي كتب إلكترونية شاملة تقدم مجموعة متنوعة من الكتب الإلكترونية  في جميع المجالات,مع تجربة مريحة وسهلة للاستكشاف والشراء عبر الانترنت"</p>

</div>
<div class="search">
  <input class="form-control" type="text" placeholder="ابحث باسم الكتاب او المؤلف">
  <i class="icon1 fa-solid fa-magnifying-glass"></i>
</div>

</div>

<div class=" enjoy">
<div class="pic">
  <img src="../../assets/image/OIP.jpeg">
</div>
<div class="more" >
<h1>استمتع بتجربة قراءة فريدة مع متجر الكتب الإلكترونية متون</h1>
<br>
<br>
<p>هذا هو المكان المثالي لشراء الكتب الإلكترونية.تصفح مجموعتنا الواسعة من الكتب الإلكترونية في جميع المجالات واحصل على تجربة قراءة ممتعة.تسوق الان واحصل على وصول فوري لأفضل الأعمال الأدبية والمعرفية بأسعار ممتازة</p>
<button class=" button1" routerLink="/about">المزيد عنا؟</button>
</div>
</div>

<div class=" arabic">
<h1>الكتب العربية</h1>
<div></div>
  <owl-carousel-o [options]="customOptions" >

    <ng-container *ngFor="let category of categoryList">
      <ng-template carouselSlide>
        <div class="slide-container">
          <img [src]="category.image" alt=" category " routerLink="/category/arabic/{{category.name}}">  
         
          <div class="slide-content">
           
            <h1>{{category.name}}</h1>
          </div>    
        </div>
        
      
      
      </ng-template>
    </ng-container>

  </owl-carousel-o>
  <div></div>
<!-- <div class="container">
  <div class="row">
    <div *ngFor="let category of categoryList" class="new col-md-4 ">
      <div class="a-e">
      
        <h5>{{category.name}}</h5>
        <h5>{{category.type}}</h5>
        <h5>{{category.language}}</h5>
    

        <img class="w-100" [src]="posterPrifix+category.image">
      </div>
    </div>
  </div>
</div>  -->
</div>

<div class=" english">
  <div class="e-text">
    <h1 >الكتب الانجليزية</h1>
  </div>
    
  

<div class="owl"></div>
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let category of categoryList">
      <ng-template carouselSlide>
        <div class="slide-container">
          <img [src]="category.image" alt=" category " routerLink="/category/english/{{category.name}}">  
         
          <div class="slide-content">
           
            <h1>{{category.name}}</h1>
          </div>    
        </div>
      
      </ng-template>
    </ng-container>

  </owl-carousel-o>
  <div></div>

<!-- <div class="container">
  <div class="row">
    <div *ngFor="let category of categoryList" class="new col-md-4 ">
      <div class="a-e">
      
        <h5>{{category.name}}</h5>
        <h5>{{category.type}}</h5>
        <h5>{{category.language}}</h5>
    

        <img class="w-100" [src]="posterPrifix+category.image">
      </div>
    </div>
  </div>
</div>  -->
</div>

<div class="know">
<h1>كن اول من يعلم</h1>

<div class="ss"></div>
<p>ارسل لنا بريدك الإلكتروني لكي يتم ارسال لك الكتب الجديدة نتمنى لكم الافضل دائما</p>
<button  class="btn  btn-lg d-btn "   routerLink="/login">
    تسجيل الدخول
</button> 

</div>

















 <!-- <div class="container">
    <div class="row">
      <div *ngFor="let category of categoryList" class="new col-md-4 ">
        <div class="a-e">
        
          <h5>{{category.name}}</h5>
          <h5>{{category.type}}</h5>
          <h5>{{category.language}}</h5>
      

          <img class="w-100" [src]="posterPrifix+category.image">
        </div>
      </div>
    </div>
  </div>  -->