<!-- <app-home></app-home> -->
<!-- <app-contact></app-contact> -->
 <!-- <app-about></app-about>   -->
 <!-- <app-books></app-books> -->
 <!-- <app-payment></app-payment>  -->
 <!-- <app-login></app-login> -->
 <!-- <app-news></app-news> -->
 <!-- <app-show></app-show> -->
 <!-- <app-events></app-events> -->
 <!-- <app-event-info></app-event-info> -->
 <!-- <app-category></app-category> -->
 <!-- <app-signup></app-signup> -->
 <app-navbar></app-navbar>
 
    <router-outlet></router-outlet>

<app-footer></app-footer> 
