<div class="w-75 mx-auto py-4">
   <h4>Register Now :</h4>  
   <form (ngSubmit)="handelRegister(registerForm)" [formGroup]="registerForm">
     
    

    <label for="name">name :</label>
    <input formControlName="name" type="text" class="form-control mb-2" id="name">

    <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger">
        <p *ngIf="registerForm.get('name')?.getError('minLength')" class="m-0">Name minLength is 3</p>
        <p *ngIf="registerForm.get('name')?.getError('maxLength')" class="m-0">Name maxLength is 10</p>
        <p *ngIf="registerForm.get('name')?.getError('required')" class="m-0">Name is Required</p>
    </div>

    <label for="email">email :</label>
    <input formControlName="email" type="email" class="form-control mb-2" id="email">

    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger">
        <p *ngIf="registerForm.get('email')?.getError('email')" class="m-0">Email inValid</p>
        <p *ngIf="registerForm.get('email')?.getError('required')" class="m-0">Email is Required</p>
    </div>

    <label for="password">password :</label>
    <input formControlName="password" type="password" class="form-control mb-2" id="password">

    <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger">
        <p *ngIf="registerForm.get('password')?.getError('pattern')" class="m-0">password must start with upperCase then from 5 to 10</p>
        <p *ngIf="registerForm.get('password')?.getError('required')" class="m-0">password is Required</p>
    </div>

    <label for="confirmPassword">confirmPassword :</label>
    <input formControlName="confirmPassword" type="password" class="form-control mb-2" id="confirmPassword">

    <div *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" class="alert alert-danger">
        <p *ngIf="registerForm.get('confirmPassword')?.getError('pattern')" class="m-0">confirmPassword must start with upperCase then from 5 to 10</p>
        <p *ngIf="registerForm.get('confirmPassword')?.getError('required')" class="m-0">confirmPassword is Required</p>
    </div>


    <button [disabled]="registerForm.invalid" type="submit" class="btn btn-info">Register</button>
   </form>
</div>
