<div class="continue">
<h1>اكمل طلبك</h1>
<div class="payment form-control">
<input class="radio"name="radioo"type="radio">
<i class="i1 fa-brands fa-paypal"></i><i class="i2 fa-brands fa-cc-paypal"></i>
<br>
<br>
<div class="ss"></div>
<br>

<input class="radio" name="radioo" type="radio">
<label>
    Credit Or Debit Card
</label> 
 <i class="fa-brands fa-cc-visa"></i> <i class="fa-brands fa-cc-mastercard"></i> 
<br>
<br>
<label class="label1">
    Card Number
</label>
<br>
<br>
<input class="form-control" type="number" placeholder="          0000 0000 0000">
<i class="card fa-solid fa-credit-card"></i>
<br>
<div class="Expiry">
    <div class="Expiry1">
        <label class="label2">
            Expiry Date
        </label>
        <br>
        <br>
        <input class="form-control" type="date" >
    </div>
    
    <br>
    <br>
    <div class="Expiry2">
        <label class="label3">
            CVC/CVV
        </label>
    <br>
    <br>
        <input class="form-control" type="password">
        <i class="locked1 fa-solid fa-lock"></i><i class="star1 fa-solid fa-star-of-life"></i><i class="star2 fa-solid fa-star-of-life"></i><i class="star3 fa-solid fa-star-of-life"></i>
    </div>
   
</div>
<br>
<br>
<p>Your Transaction Is Secured By SSL Encryption.</p>
<i class="locked2 fa-solid fa-lock"></i>
<br>
<br>
<button class="btn  btn-lg d-btn ">Continue</button>

</div>
</div> 

<!-- <div class="w-50 mx-auto my-5">
    <form  (ngSubmit)="handleSubmit(shippingAddress)" [formGroup]="shippingAddress">
        <div class="payment form-control">
            <input class="radio"name="radioo"type="radio">
            <i class="i1 fa-brands fa-paypal"></i><i class="i2 fa-brands fa-cc-paypal"></i>
            <br>
            <br>
            <div class="ss"></div>
            <br>
            <input class="radio" name="radioo" type="radio">
    <label for="credit">
        Credit Or Debit Card
    </label> 
     <i class="fa-brands fa-cc-visa"></i> <i class="fa-brands fa-cc-mastercard"></i> 
    <br>
    <br>
    <label for="card">Card Number</label>
    <br>
    <br>
    <input type="number" class="form-control"formControlName="card" id="card"placeholder="0000 0000 0000" >
    <i class="card fa-solid fa-credit-card"></i>
    
        </div>
    
        <div class="Expiry">
            <div class="Expiry1">
                <label class="label2" for="Expiryy">
                    Expiry Date
                </label>
                <br>
                <br>
                <input class="form-control" type="date" formControlName="Expiryy" id="Expiryy" >
            </div>
            <br>
            <br>
            <div class="Expiry2">
                <label class="label3" for="Expiryyy">
                    CVC/CVV
                </label>
            <br>
            <br>
                <input class="form-control" type="password" formControlName="Expiryyy" id="Expiryyy">
                <i class="locked1 fa-solid fa-lock"></i><i class="star1 fa-solid fa-star-of-life"></i><i class="star2 fa-solid fa-star-of-life"></i><i class="star3 fa-solid fa-star-of-life"></i>
            </div>
            <button class="btn  btn-lg d-btn ">Continue</button>
    
    </div>
    </form>
    </div>
     -->