<!-- <div class="container container-info">
<div class="info-ngfor" *ngFor="let nEvent of newEventInfo">
    <h1>{{nEvent.name}} </h1>
</div>
</div> -->
<div class="container-show">
    <div  *ngFor="let nEvent of newEventInfo">
        <div class="book-name">
            <h1>
                {{nEvent.name}}
            </h1>
            


           

            
            <div class="book-details">
                <div class="book-pic">

                    <img  [src]="nEvent.image" alt=" category ">
                    </div>

                <div class="book-content">
                    <div class="button input-container">
                        <button  routerLink="/cart">تسجيل دخول</button> 
                       
                    </div>
                    
                    <!-- <h2>{{ nEvent.name }}  </h2> -->
                    <div class="break"></div>
                    <!-- <h4>{{ nEvent.type }} : ج.م</h4> -->
                    
            <div class="description">
                <h3>الوصف-</h3>
               
                <h4>{{ nEvent.language }} </h4>
                </div>
                    <div class="break"></div>
                    <h4>{{ nEvent.language }} : التاريخ</h4>
                    <h4>{{ nEvent.language }}  : المكان</h4>
                    <h4>{{ nEvent.language }}  :المزيد من المعلومات</h4>
                    
                    
                  
                    
                    
                </div>
              
            
            
            
            </div>

          
            
    </div>



</div>





</div>